<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 3; i++)
        {
            <tr>
                <td>i</td>
                <td>@i Column content</td>
                <td>@i Column content</td>
                <td>@i Column content</td>
                <td>@i Column content</td>
                <td>@i Column contentColumn contentColumn contentColumn contentColumn content</td>
            </tr>
        }
    </tbody>
</table>
<link href="~/Content/bootstrap-lumen.css" rel="stylesheet" />